<!DOCTYPE html>
<html>
<head>
    <title>SJSUL RBAC System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <nav>
        <a href="{{ url_for('dashboard') }}">Dashboard</a>
        <a href="{{ url_for('catalog') }}">Book Catalog</a>
        <a href="{{ url_for('rooms') }}">Study Rooms</a>
        <a href="{{ url_for('renew') }}">Renew Book</a>
        <a href="{{ url_for('users') }}">Manage Users</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    </nav>

    <div class="container">
        <!--Flash messages show success or error messages after actions.-->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <p class="{{ category }}">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </div>
</body>
</html>